  .button{
    position: relative;
    background-color: #f1f1f1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    cursor: pointer;
  }
  .color{
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
  .pending{
    background-color: #F94892;
  }
  .done{
    background-color:#277BC0;
  }
  .new{
    background-color: #FBDF07;
  }
  .check{
    position: relative;
    left: 50%;
    bottom: -50%;
    color: green;
  }
  .arrow{
    height: 30px;
    width: 30px;
    /* background-color: #277BC0; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #FF9551;
  }